{% extends 'app/base.html' %}
{% block content %}


<section class="hero-wrap hero-wrap-2" style="background-image: url('{{ article.image.url }}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">{{ article.title }}</h1>
                <p class="breadcrumbs"><span class="mr-2">
                    <!--<a href="index.html">Home <i-->
                    <!--class="ion-ios-arrow-forward"></i></a></span> <span>Article Single<i-->
                    <!--class="ion-ios-arrow-forward"></i></span>-->
                </p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-lg-last ftco-animate">
                <h2 class="mb-3"> {{ article.intro }}</h2>

                <div class="sidebar-box ftco-animate">
                    <div class="fb-page" data-href="https://www.facebook.com/Unbeaten-467535074038824" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Unbeaten-467535074038824" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Unbeaten-467535074038824">Unbeaten</a></blockquote></div>
                </div>

                {{ article.content | safe }}

                <div class="tag-widget post-tag-container mb-5 mt-5">
                    <div class="tagcloud">
                        {% for tag in article.tags.all %}
                        <a href="{% url 'tag_detail' tag.tag_name %}" class="tag-cloud-link">{{ tag.tag_name }}</a>
                        {% endfor %}
                    </div>
                </div>


            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar pr-lg-5 ftco-animate">
                <!--<div class="sidebar-box">-->
                <!--<form action="#" class="search-form">-->
                <!--<div class="form-group">-->
                <!--<span class="icon icon-search"></span>-->
                <!--<input type="text" class="form-control" placeholder="Type a keyword and hit enter">-->
                <!--</div>-->
                <!--</form>-->
                <!--</div>-->
                <!--<div class="sidebar-box ftco-animate">-->
                <!--<ul class="categories">-->
                <!--<h3 class="heading mb-4">Categories</h3>-->
                <!--<li><a href="#">Travel <span>(12)</span></a></li>-->
                <!--<li><a href="#">Tour <span>(22)</span></a></li>-->
                <!--<li><a href="#">Destination <span>(37)</span></a></li>-->
                <!--<li><a href="#">Drinks <span>(42)</span></a></li>-->
                <!--<li><a href="#">Foods <span>(14)</span></a></li>-->
                <!--<li><a href="#">Travel <span>(140)</span></a></li>-->
                <!--</ul>-->
                <!--</div>-->

                <div class="sidebar-box ftco-animate">
                    <h3 class="heading mb-4">Bài mới nhất</h3>
                    {% for article in latest_article %}
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" href="{% url 'article_detail' article.slug article.id %}"
                           style="background-image: url({{ article.image.url }});"></a>
                        <div class="text">
                            <h3><a href="{% url 'article_detail' article.slug article.id %}"> {{ article.title }}</a>
                            </h3>
                            <div class="meta">
                                <div><a href="{% url 'article_detail' article.slug article.id %}"><span
                                        class="icon-calendar"></span> {{ article.create_date |date:"d/m/Y" }} </a></div>
                                <!--<div><a href="#"><span class="icon-person"></span> Admin</a></div>-->
                                <!--<div><a href="#"><span class="icon-chat"></span> 19</a></div>-->
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

<!--                <div class="sidebar-box ftco-animate">-->
<!--                    <div class="fb-page" data-href="https://www.facebook.com/Unbeaten-467535074038824" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Unbeaten-467535074038824" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Unbeaten-467535074038824">Unbeaten</a></blockquote></div>-->
<!--                </div>-->

                <div class="sidebar-box ftco-animate">
                    <h3 class="heading mb-4">Tag nổi bật</h3>
                    <div class="tagcloud">
                        {% for tag in most_view_tags %}
                        <a href="{% url 'tag_detail' tag.tag_name %}" class="tag-cloud-link"> {{ tag.tag_name }}</a>
                        {% endfor %}
                    </div>
                </div>

                <!--<div class="sidebar-box ftco-animate">-->
                <!--<h3 class="heading mb-4">Paragraph</h3>-->
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus-->
                <!--voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur-->
                <!--similique, inventore eos fugit cupiditate numquam!</p>-->
                <!--</div>-->
            </div>

        </div>
    </div>
</section> <!-- .section -->


{% endblock %}