<!DOCTYPE html>
<html lang="en">
<head>
    <title>Unbeaten</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="/static/app/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/static/app/css/animate.css">

    <link rel="stylesheet" href="/static/app/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/app/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/app/css/magnific-popup.css">

    <link rel="stylesheet" href="/static/app/css/aos.css">

    <link rel="stylesheet" href="/static/app/css/ionicons.min.css">

    <link rel="stylesheet" href="/static/app/css/flaticon.css">
    <link rel="stylesheet" href="/static/app/css/icomoon.css">
    <link rel="stylesheet" href="/static/app/css/style.css">
    {% if article %}
    <meta property="og:url"
          content="https://unbeaten.vn/{% url 'article_detail' article.slug article.id %}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ article.title }}"/>
    <meta property="og:description" content="{{ article.intro }}"/>
    <meta property="og:image"
          content="https://unbeaten.vn/{{ article.image.url }}"/>
    {% endif %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 377.82 202.46">
                <defs>
                    <style>.cls-1{opacity:0.1;}</style>
                </defs>
                <title>Asset 8</title>
                <g id="Layer_2" data-name="Layer 2">
                    <g id="Linkedin_-_Standard_Logo_or_Profile_Picture"
                       data-name="Linkedin - Standard Logo or Profile Picture">
                        <g id="Logo">
                            <path d="M15.93,71.76V101.3q0,7.82,3,11.43t8.75,3.62q5.85,0,8.91-3.58t3-11.39V71.76H32.85V64.53h22.7v7.23H48.32v30.43q0,10.38-5.25,15.83t-15.41,5.44q-10.23,0-15.37-5.4T7.16,101.69V71.76H0V64.53H22.77v7.23Z"/>
                            <path d="M98.71,95.3v20.12h6.78v7.08H90.75V95.8q0-3.81-1.09-5.46a4,4,0,0,0-3.6-1.65q-5.31,0-11.93,5.23v21.5h7v7.08H59.17v-7.08h7.11V89.19H59.17V82.07h15V87q7.43-5.43,14-5.43c3.61,0,6.29,1.12,8,3.35S98.71,90.58,98.71,95.3Z"/>
                            <path d="M138.11,81a18.51,18.51,0,0,1,10.08,2.83,19.59,19.59,0,0,1,7,7.64,22,22,0,0,1,2.52,10.38,22.59,22.59,0,0,1-2.56,10.66,20.34,20.34,0,0,1-7.06,7.79,18.16,18.16,0,0,1-10.08,2.9,20.21,20.21,0,0,1-8.41-1.8,15.35,15.35,0,0,1-6.25-5v6.08H108.49v-7.08h7.15V71.53h-7.15v-7h14.88V87.84A19,19,0,0,1,138.11,81Zm-1.66,35.13a11.61,11.61,0,0,0,6.74-2,13.58,13.58,0,0,0,4.57-5.35,15.81,15.81,0,0,0,1.62-7,14.1,14.1,0,0,0-1.65-6.77A12.82,12.82,0,0,0,143.15,90a12.38,12.38,0,0,0-6.62-1.8,11.93,11.93,0,0,0-6.62,1.88,13,13,0,0,0-4.57,5.12,15.45,15.45,0,0,0-1.66,7.19,14.49,14.49,0,0,0,1.69,6.92,12.88,12.88,0,0,0,4.62,5A12.09,12.09,0,0,0,136.45,116.12Z"/>
                            <path d="M206.43,104.31H172.54a14.19,14.19,0,0,0,4.5,9.17,13.33,13.33,0,0,0,9.23,3.37,16.75,16.75,0,0,0,7.43-1.66,14.4,14.4,0,0,0,5.73-5.08l7,3.16a21.32,21.32,0,0,1-8.67,7.79,26.09,26.09,0,0,1-11.68,2.63A24.17,24.17,0,0,1,174.46,121a19.76,19.76,0,0,1-7.9-7.61,22.88,22.88,0,0,1,0-22,20.07,20.07,0,0,1,7.63-7.64,22.76,22.76,0,0,1,21.84.08,19.84,19.84,0,0,1,7.48,8.08A28.56,28.56,0,0,1,206.43,104.31ZM185,87.61a11.47,11.47,0,0,0-7.88,3,13.84,13.84,0,0,0-4.35,8h25.31a14.05,14.05,0,0,0-4.73-8A12.65,12.65,0,0,0,185,87.61Z"/>
                            <path d="M246.86,96.34v19.08h6.77v7.08H239.86v-5q-5.78,5.65-12.85,5.65a13.9,13.9,0,0,1-11.79-6.36,12.19,12.19,0,0,1,.19-13.24A13.5,13.5,0,0,1,221,99a16.65,16.65,0,0,1,7-1.62,19.38,19.38,0,0,1,11,3.46V96.5c0-3.16-.66-5.42-2-6.77s-3.52-2-6.58-2a11.29,11.29,0,0,0-5.4,1.17,9.38,9.38,0,0,0-3.6,3.56l-7.61-1.89a17,17,0,0,1,7-7.17A21.61,21.61,0,0,1,231.24,81q8.13,0,11.87,3.7T246.86,96.34Zm-18.77,20.74q5.85,0,11-4.89v-4.73q-5.19-4-10.38-4a8.06,8.06,0,0,0-5.45,2,6.64,6.64,0,0,0-.29,9.77A7.2,7.2,0,0,0,228.09,117.08Z"/>
                            <path d="M278.37,82.07v7.12H271v21.19q0,3.32.72,4.29a2.8,2.8,0,0,0,2.44,1,12.81,12.81,0,0,0,4.23-.73v7.2a22.72,22.72,0,0,1-6,1.07c-3.34,0-5.73-.84-7.2-2.52S263,116.12,263,112V89.19h-5.27V82.07H263V76l8-7.27V82.07Z"/>
                            <path d="M326.54,104.31h-33.9a14.19,14.19,0,0,0,4.5,9.17,13.37,13.37,0,0,0,9.24,3.37,16.74,16.74,0,0,0,7.42-1.66,14.34,14.34,0,0,0,5.73-5.08l7,3.16a21.34,21.34,0,0,1-8.68,7.79,26.09,26.09,0,0,1-11.68,2.63A24.1,24.1,0,0,1,294.57,121a19.78,19.78,0,0,1-7.91-7.61,22.88,22.88,0,0,1,0-22,20.09,20.09,0,0,1,7.64-7.64,22.74,22.74,0,0,1,21.83.08,19.77,19.77,0,0,1,7.48,8.08A28.71,28.71,0,0,1,326.54,104.31Zm-21.43-16.7a11.51,11.51,0,0,0-7.89,3,13.84,13.84,0,0,0-4.35,8h25.32a14.1,14.1,0,0,0-4.73-8A12.69,12.69,0,0,0,305.11,87.61Z"/>
                            <path d="M371.05,95.3v20.12h6.77v7.08H363.08V95.8q0-3.81-1.09-5.46a4,4,0,0,0-3.6-1.65q-5.31,0-11.93,5.23v21.5h7v7.08H331.5v-7.08h7.12V89.19H331.5V82.07h15V87q7.43-5.43,14-5.43c3.61,0,6.29,1.12,8,3.35S371.05,90.58,371.05,95.3Z"/>
                            <g class="cls-1">
                                <path d="M164.9,23.26l-23.52,101q-3.84,16.78-3.84,28.15a25.86,25.86,0,0,0,8,19q8,7.92,23.46,7.93,14.92,0,24-5.36t14.48-16.19q5.41-10.83,10-30.92L241.82,23.26H224.24L229.92,0h63l-5.68,23.26H270.49L246.71,125.81q-6.48,28.68-16.13,45.33t-24.64,24q-15,7.34-38.53,7.33-27.89,0-43.34-12.35t-15.47-34.3q0-14.79,4.36-33.57l23.26-99H118.38L123.8,0h64.36l-5.95,23.26Z"/>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="/" class="nav-link">Trang chủ</a></li>
                <!--                <li class="nav-item"><a href="foods.html" class="nav-link">Foods</a></li>-->
                <!--                <li class="nav-item"><a href="lifestyle.html" class="nav-link">Lifestyle</a></li>-->
                <!--                <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>-->

                <!--                <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>-->
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->

{% block content %}
{% endblock %}

{% include "app/footer.html" %}

<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>
<script src="/static/app/js/jquery.min.js"></script>
<script src="/static/app/js/jquery.cookie.js"></script>
<script src="/static/app/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/static/app/js/popper.min.js"></script>
<script src="/static/app/js/bootstrap.min.js"></script>
<script src="/static/app/js/jquery.easing.1.3.js"></script>
<script src="/static/app/js/jquery.waypoints.min.js"></script>
<script src="/static/app/js/jquery.stellar.min.js"></script>
<script src="/static/app/js/owl.carousel.min.js"></script>
<script src="/static/app/js/jquery.magnific-popup.min.js"></script>
<script src="/static/app/js/aos.js"></script>
<script src="/static/app/js/jquery.animateNumber.min.js"></script>
<script src="/static/app/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="/static/app/js/google-map.js"></script>
<script src="/static/app/js/main.js"></script>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=3263426367016601&autoLogAppEvents=1"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144740172-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-144740172-1');

</script>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '2434415819985515');
  fbq('track', 'PageView');

</script>
<noscript><img height="1" width="1" style="display:none"
               src="https://www.facebook.com/tr?id=2434415819985515&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->


</body>
</html>