<section class="ftco-subscribe ftco-section bg-light">
    <div class="overlay">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 text-wrap text-center heading-section ftco-animate">
                    <h2 class="mb-4"><span>Subscribe tin tức mới nhất</span></h2>
                    <p>Hãy subcribe để nhận những thông tin mới nhất từ Unbeaten.vn</p>
                    <div class="row d-flex justify-content-center mt-4 mb-4">
                        <div class="col-md-8">
                            <form class="subscribe-form">
                                <div class="form-group d-flex">
                                    <input type="text" class="form-control" placeholder="Nhập địa chỉ email" name="email">
                                    <input type="button" value="Subscribe" class="submit px-3 submit-button" id="aaaaaaaaaaa">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="ftco-footer ftco-footer-2 ftco-section">
    <div class="container">
<!--        <div class="row mb-5">-->
<!--            <div class="col-md">-->
<!--                <div class="ftco-footer-widget mb-4">-->
<!--                    <h2 class="ftco-heading-2">Stories</h2>-->
<!--                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there-->
<!--                        live the blind texts.</p>-->
<!--                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">-->
<!--                        <li class="ftco-animate"><a href="/static/app/#"><span class="icon-twitter"></span></a></li>-->
<!--                        <li class="ftco-animate"><a href="/static/app/#"><span class="icon-facebook"></span></a></li>-->
<!--                        <li class="ftco-animate"><a href="/static/app/#"><span class="icon-instagram"></span></a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md">-->
<!--                <div class="ftco-footer-widget mb-4 ml-md-5">-->
<!--                    <h2 class="ftco-heading-2">Information</h2>-->
<!--                    <ul class="list-unstyled">-->
<!--                        <li><a href="/static/app/#" class="py-2 d-block">Terms of Uses</a></li>-->
<!--                        <li><a href="/static/app/#" class="py-2 d-block">About Stories</a></li>-->
<!--                        <li><a href="/static/app/#" class="py-2 d-block">Privacy Policy</a></li>-->
<!--                        <li><a href="/static/app/#" class="py-2 d-block">Accessibility Help</a></li>-->
<!--                        <li><a href="/static/app/#" class="py-2 d-block">Advertise with us</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md">-->
<!--                <div class="ftco-footer-widget mb-4">-->
<!--                    <h2 class="ftco-heading-2">Categories</h2>-->
<!--                    <ul class="list-unstyled">-->
<!--                        <li><a href="/static/app/#" class="py-2 d-block">Food</a></li>-->
<!--                        <li><a href="/static/app/#" class="py-2 d-block">Restaurant</a></li>-->
<!--                        <li><a href="/static/app/#" class="py-2 d-block">Dessert</a></li>-->
<!--                        <li><a href="/static/app/#" class="py-2 d-block">Lifestyle</a></li>-->
<!--                        <li><a href="/static/app/#" class="py-2 d-block">Recipes</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md">-->
<!--                <div class="ftco-footer-widget mb-4">-->
<!--                    <h2 class="ftco-heading-2">Have a Questions?</h2>-->
<!--                    <div class="block-23 mb-3">-->
<!--                        <ul>-->
<!--                            <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span>-->
<!--                            </li>-->
<!--                            <li><a href="/static/app/#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a>-->
<!--                            </li>-->
<!--                            <li><a href="/static/app/#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="icon-heart color-danger"
                                                                        aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>
