{% extends 'app/base.html' %}
{% block content %}
<section class="home-slider owl-carousel">
    {% for article in high_light_articles %}
    <div class="slider-item">
        <div class="container">
            <div class="row d-flex slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                <div class="img" style="background-image: url({{ article.image.url }});"></div>

                <div class="text d-flex align-items-center ftco-animate">
                    <div class="text-2 pb-lg-5 mb-lg-4 px-4 px-md-5">
                        <h3 class="subheading mb-3">Featured Posts</h3>
                        <a href="{% url 'article_detail' article.slug article.id %}">
                            <h1 class="mb-5">{{ article.title }}</h1>
                        </a>
                        <p class="mb-md-5"> {{ article.intro }} </p>
                        <p><a href="{% url 'article_detail' article.slug article.id %}"
                              class="btn btn-black px-3 px-md-4 py-3">Đọc tiếp <span
                                class="icon-arrow_forward ml-lg-4"></span></a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7 heading-section ftco-animate">
                <h2 class="mb-4"><span>Recent Stories</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 order-md-last col-lg-6 ftco-animate">
                <div class="blog-entry">
                    <div class="img img-big d-flex align-items-end" style="background-image: url({{latest_article.image.url}});">
                        <div class="overlay"></div>
                        <div class="text">
                            <span class="subheading">{{latest_article.category}}</span>
                            <h3><a href="{% url 'article_detail' latest_article.slug latest_article.id %}">{{ latest_article.title }}</a></h3>
                            <p class="mb-0"><a href="{% url 'article_detail' latest_article.slug latest_article.id %}" class="btn-custom">Đọc tiếp <span
                                    class="icon-arrow_forward ml-4"></span></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    {% for article in recent_articles %}
                    <div class="col-md-6 ftco-animate">
                        <div class="blog-entry">
                            <a href="{% url 'article_detail' article.slug article.id %}" class="img d-flex align-items-end"
                               style="background-image: url({{ article.image.url }});">
                                <div class="overlay"></div>
                            </a>
                            <div class="text pt-3">
                                <p class="meta d-flex"><span class="pr-3">Dessert</span><span class="ml-auto pl-3">March 01, 2018</span>
                                </p>
                                <h3><a href="{% url 'article_detail' article.slug article.id %}">{{ article.title }}</a></h3>
                                <p class="mb-0"><a href="{% url 'article_detail' article.slug article.id %}" class="btn-custom">Đọc tiếp <span
                                        class="icon-arrow_forward ml-4"></span></a></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}