{% extends 'app/base.html' %}
{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_4.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">#{{ tag.tag_name }}</h1>
                <!--<p class="breadcrumbs">-->
                <!--<span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Lifestyle <i class="ion-ios-arrow-forward"></i></span>-->
                <!--</p>-->
            </div>
        </div>
    </div>
</section>


<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    {% for article in articles %}
                    <div class="col-md-6 col-lg-12 ftco-animate">
                        <div class="blog-entry d-lg-flex">
                            <div class="half">
                                <a href="{% url 'article_detail' article.slug article.id %}" class="img d-flex align-items-end"
                                   style="background-image: url({{ article.image.url }});">
                                    <div class="overlay"></div>
                                </a>
                            </div>
                            <div class="text px-md-4 px-lg-5 half pt-3">
                                <!--<p class="meta d-flex"><span class="pr-3">Dessert</span><span class="ml-auto pl-3">March 01, 2018</span>-->
                                <!--</p>-->
                                <h3><a href="{% url 'article_detail' article.slug article.id %}"> {{ article.title }}</a></h3>
                                <p>{{ article.intro }}
                                </p>
                                <p class="mb-0"><a href="{% url 'article_detail' article.slug article.id %}" class="btn btn-primary">Đọc tiếp <span
                                        class="icon-arrow_forward ml-4"></span></a></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>

                                {% if articles.has_previous %}
                                <li><a href="?page=1">&lt;&lt;</a></li>
                                <li><a href="?page={{ articles.previous_page_number }}">{{ articles.previous_page_number }}</a></li>
                                {% endif %}
                                <li class="active"><span>{{ articles.number }}</span></li>
                                {% if articles.has_next %}
                                <li><a href="?page={{ articles.next_page_number }}">{{ articles.next_page_number }}</a></li>
                                <li><a href="?page={{ articles.paginator.num_pages }}">&gt;&gt;</a></li>

                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

<!--            <div class="col-lg-3">-->
<!--                <div class="sidebar-wrap">-->
<!--                    <div class="sidebar-box p-4 about text-center ftco-animate">-->
<!--                        <h2 class="heading mb-4">About Me</h2>-->
<!--                        <img src="images/author.jpg" class="img-fluid" alt="Colorlib Template">-->
<!--                        <div class="text pt-4">-->
<!--                            <p>Hi! My name is <strong>Cathy Deon</strong>, behind the word mountains, far from the-->
<!--                                countries Vokalia and Consonantia, there live the blind texts. Separated they live in-->
<!--                                Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="sidebar-box p-4 ftco-animate">-->
<!--                        <form action="#" class="search-form">-->
<!--                            <div class="form-group">-->
<!--                                <span class="icon icon-search"></span>-->
<!--                                <input type="text" class="form-control" placeholder="Search">-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                    <div class="sidebar-box categories text-center ftco-animate">-->
<!--                        <h2 class="heading mb-4">Categories</h2>-->
<!--                        <ul class="category-image">-->
<!--                            <li>-->
<!--                                <a href="#" class="img d-flex align-items-center justify-content-center text-center"-->
<!--                                   style="background-image: url(images/category-1.jpg);">-->
<!--                                    <div class="text">-->
<!--                                        <h3>Foods</h3>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#" class="img d-flex align-items-center justify-content-center text-center"-->
<!--                                   style="background-image: url(images/category-2.jpg);">-->
<!--                                    <div class="text">-->
<!--                                        <h3>Lifestyle</h3>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#" class="img d-flex align-items-center justify-content-center text-center"-->
<!--                                   style="background-image: url(images/category-2.jpg);">-->
<!--                                    <div class="text">-->
<!--                                        <h3>Others</h3>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</section>


{% endblock %}